@keyframes bgColor {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

body {
    background-image: url(/images/télécharger.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body :nth-of-type[header]{
    animation: bgColor 2s ;
}

.main-content {
    text-align: center;
    height: 250vh;
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.mycontainer h3 {
    font-size: 3em;
    font-weight: bolder;
    color: black;
}

.mycontainer {
    border: 3px black solid;
    height: 100%;
    width: 80%;
    padding: 10vh;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 4px 4px 15px black;
    border-radius: 5vh;
    animation: bgColor 4s ;
}

.info div {
    padding: 5vh;
    font-size: 1.5em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.grid div {
    padding: 5vh;
    font-size: 1.5em;
}

.actions {
    font-size: 1.5em;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

.actions button {
    width: 50%;
    padding: 1vh;
    border: none;
    background: #3f97da;
    color: black;
    border-radius: 5px 5px 5px;
}

.actions button:hover {
    transform: translateY(-4px);
    box-shadow: 3px 3px 5px rgb(0, 59, 169);
    transition: all 0.5s ease;
}

.actions button:active {
    transform: translateY(0);
}
.mycontainer input, select{
    border: none;
    box-shadow: 1px 1px 2px black;
    background-color: rgba(128, 128, 128, 0.477);
}
.mycontainer input, select:active{
    border: none;
}
