a{
            border: 1px black soli
        }
        a:hover {
            transform: translateY(-4px);
            text-shadow: 1px 1px 2px rgb(0, 59, 169);
        }

        a:active {
            transform: translateY(0px);
        }

        .uni-home-title {
            justify-content: center;
            margin-bottom: 50px;
        }

        .title {
            display: flex;
            margin-left: 42%;
            align-items: center;
            text-align: center;
            display: block;
            font-size: 4em;
            font-weight: bolder;
        }
        .accordion-default{
            background-color: #3f97da;
            padding: 10vh;
        }
        .accordion .accordion-item{
            background-color: white;
        }